<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="g463_zaharov_demo.Properties.Settings.g463_zaharov_demoConnectionString"
            connectionString="Data Source=home-pc;Initial Catalog=g463_zaharov_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>